@import './reset.scss';
@import './variables.scss';
@import './mixins_and_placeholders.scss';

*, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @extend %flex-center;
    width: 100%;
    height: 100vh;
    background: $background-color;
}

.container {
    @extend %flex-center;
    border: 1px solid black;
    width: 100%;
    height: 100%;

    .box {
        position: relative;
        width: $box-size;
        height: $box-size;
        margin: 0 $box-margin;
        border: $box-border-size solid #000;
    
        &::before {
            content: '';
            position: absolute;
            top: -1 * $box-border-size;
            left: -1 * $box-border-size;
            bottom: -2 * $box-border-size;
            right: -2 * $box-border-size;
            border: 2 * $box-border-size solid #000;
            @include animation('animate #{$animationDuration} infinite');
            @include transform(scale(1));
        }
    }

    @for $i from 1 through $numOfBoxes {
        .box:nth-child(#{$i}) {
            &::before {
                @include animation-delay(($i - 1) * (3 / 4) * $animationDuration / $numOfBoxes);
            }
        }
    }
}


@include breakpoint(md) {
    .container {
        .box {
            width: $box-size-md;
            height: $box-size-md;
            margin: 0 $box-margin-md;
        }
    }
}

@include breakpoint(lg) {
    .container {
        .box {
            width: $box-size-lg;
            height: $box-size-lg;
            margin: 0 $box-margin-lg;
        }
    }
}

@include keyframes(animate) {
    0% {
        @include transform(scale(1.7));
    }

    60% {
        @include transform(scale(1));
    }

    100% {
        @include transform(scale(1));
    }
}