$background-color: #F0F0F0;

$box-size: 1em;
$box-size-md: 1.5em;
$box-size-lg: 1.8em;

$box-margin: 0.4em;
$box-margin-md: 0.6em;
$box-margin-lg: 0.8em;

$box-border-size: 1px;

$animationDuration: 1.5s;
$numOfBoxes: 8;